$primary-color              : #539bf5;
$dark-primary-color         : mix(#000, $primary-color, 35%);
$darker-primary-color       : mix(#000, $primary-color, 55%);
$light-primary-color        : mix(#fff, $primary-color, 65%);

$background                 : #0d1117;
$background-light           : #161b22;
$background-lighter         : #21262d;

$text                       : #c9d1d9;
$text-light                 : #8b949e;

$link                       : #539bf5;
$link-dark                  : #1f6feb;
$link-light                 : #79c0ff;

$footer                     : #161b22;

$danger-color               : #ff7b72;
$info-color                 : #539bf5;
$notice-color               : #8b949e;
$success-color              : #3fb950;
$warning-color              : #d29922;

html[data-theme="dark"] {
  --global-base-color                 : #{$background};
  --global-bg-color                   : #{$background};
  --global-footer-bg-color            : #{$footer};
  --global-border-color               : #{$background-lighter};
  --global-dark-border-color          : #30363d;
  --global-code-background-color      : #161b22;
  --global-code-text-color            : #{$text};
  --global-fig-caption-color          : #{$text-light};
  --global-link-color                 : #{$link};
  --global-link-color-hover           : #{$link-dark};
  --global-link-color-visited         : #{$link-light};
  --global-masthead-link-color        : #{$text};
  --global-masthead-link-color-hover  : #{$link};
  --global-text-color                 : #{$text};
  --global-text-color-light           : #{$text-light};
  --global-thead-color                : #{$background-light};
}