$primary-color              : #81A1C1;
$dark-primary-color         : mix(#000, $primary-color, 40%);
$darker-primary-color       : mix(#000, $primary-color, 60%);
$light-primary-color        : mix(#fff, $primary-color, 50%);

$background                 : #2E3440;
$background-light           : #3B4252;
$background-lighter         : #434C5E;
$text                       : #D8DEE9;
$link                       : #88C0D0;
$link-dark                  : #81A1C1;
$link-light                 : #B48EAD;
$footer                     : #3B4252;

$danger-color               : #BF616A;
$info-color                 : #81A1C1;
$notice-color               : #5E81AC;
$success-color              : #A3BE8C;
$warning-color              : #D08770;

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

html[data-theme="dark"] {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$light-primary-color};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #3B4252;
    --global-code-text-color            : #D8DEE9;
    --global-fig-caption-color          : #88C0D0;
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #81A1C1;
    --global-text-color                 : #{$text};
    --global-text-color-light           : #5E81AC;
    --global-thead-color                : #{$background-lighter};
}